<!-- Wrapper -->
<div id="wrapper">

	<!-- Header -->
	<header id="header"{% if page.layout == "landing" %} class="alt"{% endif %}{% if page.layout == "home" %} class="alt"{% endif %}>
		<a href="{{ site.url }}{{ site.baseurl }}" class="logo"><strong>{{ site.title-bold }}</strong> <span>{{ site.title-normal }}</span></a>
		<nav id="responsive-menu">
			<ul class="links">
				<li></li>
				{% if page.layout != "home" %}
						<li><a href="{{ site.baseurl }}/">Home</a></li>
				{% endif %}
				{% for link in site.pages %}
						{% if link.nav-menu %}
								<li><a href="{{ site.baseurl }}{{ link.url }}">{{ link.title }}</a></li>
						{% endif %}
				{% endfor %}
			</ul>
			<a href="#menu">Menu</a>
		</nav>
	</header>

	<!-- Menu -->
	<nav id="menu">
		<ul class="links">
			{% if page.layout != "home" %}
					<li><a href="{{ site.baseurl }}/">Home</a></li>
			{% endif %}
	    {% for link in site.pages %}
					{% if link.nav-menu %}
							<li><a href="{{ site.baseurl }}{{ link.url }}">{{ link.title }}</a></li>
					{% endif %}
			{% endfor %}
		</ul>
		<ul class="actions vertical">
			 <li><a target="_blank" href="https://secure.actblue.com/contribute/page/the-politicalrevolution" class="button special fit">Donate</a></li> 
		</ul>
	</nav>
</div>
