<head>
	<meta charset="utf-8" />
	<!-- <title>{% if page.title != '' %}{{ page.title }}{% else %}{{ site.title-bold }}{% endif %}</title> -->
	{% seo %}
	{% feed_meta %}
	<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
	<!--[if lte IE 8]><script src="{{ site.url }}{{ site.baseurl }}/assets/js/ie/html5shiv.js"></script><![endif]-->
	<link rel="stylesheet" href="{{ site.baseurl }}/assets/css/main.css" />
	<!--[if lte IE 9]><link rel="stylesheet" href="{{ site.url }}{{ site.baseurl }}/assets/css/ie9.css" /><![endif]-->
	<!--[if lte IE 8]><link rel="stylesheet" href="{{ site.url }}{{ site.baseurl }}/assets/css/ie8.css" /><![endif]-->
	{% if page.author-googleplus %}
		<link rel=”author” href=”{{ page.author-googleplus }}”/>
	{% endif %}

	<link rel="apple-touch-icon" sizes="180x180" href="{{ site.baseurl }}/apple-touch-icon.png">
	<link rel="icon" type="image/png" href="{{ site.baseurl }}/favicon-32x32.png" sizes="32x32">
	<link rel="icon" type="image/png" href="{{ site.baseurl }}/favicon-16x16.png" sizes="16x16">
	<link rel="manifest" href="{{ site.baseurl }}/manifest.json">
	<link rel="mask-icon" href="{{ site.baseurl }}/safari-pinned-tab.svg" color="#43c4da">
	<meta name="theme-color" content="#04243e">
</head>
