<!-- Wrapper -->
<div id="wrapper">

	<!-- Header -->
	<header id="header"{% if page.layout == "landing" %} class="alt"{% endif %}{% if page.layout == "home" %} class="alt"{% endif %}>
		<a href="{{ site.url }}{{ site.baseurl }}" class="logo"><strong>{{ site.title-bold }}</strong> <span>{{ site.title-normal }}</span></a>
		<nav>
			<a href="#menu">Menu</a>
		</nav>
	</header>

	<!-- Menu -->
	<nav id="menu">
		<ul class="links">
			{% if page.layout != "home" %}
					<li><a href="{{ site.baseurl }}/">Home</a></li>
			{% endif %}
	    {% for link in site.pages %}
					{% if link.nav-menu %}
							<li><a href="{{ site.baseurl }}{{ link.url }}">{{ link.title }}</a></li>
					{% endif %}
			{% endfor %}
			        <!-- <li><a href="{{ site.baseurl }}about/">About</a></li>
			        <li><a href="{{ site.baseurl }}candidates/">Candidates</a></li>
							<li><a href="{{ site.baseurl }}/contact.html">Contact Us</a></li> -->
			        <!-- <li><a href="{{ site.baseurl }}events.html">Events</a></li> -->
		</ul>
		<ul class="actions vertical">
			<!-- <li><a href="{{ site.url }}{{ site.baseurl }}/vote.html" class="button special fit">Register to Vote</a></li> -->
			<!-- <li><a href="{{ site.url }}{{ site.baseurl }}/contact.html" class="button fit">Contact Us</a></li> -->
		</ul>
	</nav>
</div>
