<script>
  window.fbAsyncInit = function() {
    FB.init({
      appId      : '{{ site.facebook.app_id}}',
      xfbml      : true,
      version    : 'v2.8'
    });
    FB.AppEvents.logPageView();
  };

  (function(d, s, id){
     var js, fjs = d.getElementsByTagName(s)[0];
     if (d.getElementById(id)) {return;}
     js = d.createElement(s); js.id = id;
     js.src = "//connect.facebook.net/en_US/sdk.js";
     fjs.parentNode.insertBefore(js, fjs);
   }(document, 'script', 'facebook-jssdk'));
</script>
<a class="btn-tweet" target="_blank" href="https://twitter.com/intent/tweet?text={{ page.title | strip_html | truncate: 100 | uri_escape  }}&url={{ site.url }}{{ site.baseurl }}{{ page.url }}&via={{ site.twitter.plain_username }}">Tweet</a>
<div
  class="fb-like"
  data-share="true"
  data-width="450"
  data-show-faces="true">
</div>
