<section id="one" class="tiles">
	{% for post in site.posts limit:site.tiles-count %}
	{% if site.tiles-source == 'posts' %}
        <article class="tmp-max-width">
                <span class="image">
                        <img src="{{ site.baseurl }}{{ post.image }}" alt="" />
                </span>
                <header class="major">
                        <h3><a href="{{ site.baseurl }}{{ post.url }}" class="link">{{ post.title }}</a></h3>
                        <p>{% if post.description %} {{ post.description }} {% else %} {{ post.excerpt }}{% endif %}</p>
                </header>
        </article>
	{% endif %}
	{% endfor %}
	{% for page in site.pages %}
		{% if site.tiles-source == 'pages' and page.tile %}
	        <article>
	                <span class="image">
	                        <img src="{{ site.baseurl }}{{ page.image }}" alt="Page Header" />
	                </span>
	                <header class="major">
	                        <h3><a href="{{ page.url }}" class="link">{{ page.title }}</a></h3>
	                        <p>{{ page.description }}</p>
	                </header>
	        </article>
		{% endif %}
	{% endfor %}
</section>
