<section id="one" class="tiles">
	{% for post in site.posts limit:site.tiles-count %}
	{% if site.tiles-source == 'posts' %}
        <article>
                <span class="image">
                        <img src="{{ post.image }}" alt="" />
                </span>
                <header class="major">
                        <h3><a href="{{ site.baseurl }}{{ post.url }}" class="link">{{ post.title }}</a></h3>
                        <p>{{ post.description }}</p>
                </header>
        </article>
	{% endif %}
	{% endfor %}
	{% assign pages = site.pages | where: "layout", "page" %}
	{% for page in pages limit:site.tiles-count %}
	{% if site.tiles-source == 'pages' %}
        <article>
                <span class="image">
                        <img src="{{ site.baseurl }}assets/images/{{ page.image }}" alt="Page Header" />
                </span>
                <header class="major">
                        <h3><a href="{{ page.url }}" class="link">{{ page.title }}</a></h3>
                        <p>{{ page.description }}</p>
                </header>
        </article>
	{% endif %}
	{% endfor %}
</section>
