.FilterableCandidateList
	select
		max-width: 18em
	.candidate-list
		display: flex
		flex-flow: row wrap
		justify-content: center
		list-style: none
		font-size: 1rem
		>li
			margin: 3px
			padding: 0
			flex-grow: 1
			// flex-basis: 200px
			display: block

		.candidate
			background: _palette(fg)
			padding: 1em
			height: 250px
			width: 100%
			min-width: 250px
			transition: transform 0.25s ease, box-shadow 0.25s ease
			&:hover
				transform: scale(1.01)
				box-shadow: 0 2px 5px rgba(0, 0, 0, .2)
			*
				color:  _palette(bg)
