.page
	margin-top: 50px

	>h1
		text-align: center
		font-size: 4em

	>.text-wrapper
		*
			color: _palette(bg)
		background: _palette(fg)

	.page-button
		background-color: _palette(bg)
		margin: 0 auto
